div {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.solid-border {
    border: solid 4px black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red, .yellow, .blue {
    height: 50px;
    width: 50px;
}

.clear-both {
    clear: both;
}

.flex-container-1 {
    display: flex;    
}

.flex-container-2 {
    display: inline-flex;
}

.flex-container-3 {
    display: inline-flex;
    flex-direction: row;
}

.flex-container-4 {
    display: inline-flex;
    flex-direction: row-reverse;
}

.flex-container-5 {
    display: inline-flex;
    flex-direction: column;
}

.flex-container-6 {
    display: inline-flex;
    flex-direction: column-reverse;
}

.flex-container-7 {
    display: inline-flex;
    flex-wrap: nowrap;
}

.flex-container-8 {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-container-9 {
    display: inline-flex;
    flex-wrap: wrap-reverse;
}

.flex-container-10 {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex-container-11 {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container-12 {
    display: inline-flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
}

.flex-container-13 {
    display: inline-flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
}

.flex-container-14 {
    display: inline-flex;
    flex-flow: column wrap;
}

.flex-container-15 {
    display: inline-flex;
    flex-flow: row-reverse wrap-reverse;
}

.flex-container-16 {
    display: flex;    
}

/* negative impact on accessibility which depends on
* source order, not display order
*/
.flex-order-0 {
    /* default order value */
    order: 0;
}

.flex-order-1 {
    order: 1;
}

.flex-order-negative-1 {
    /* smaller than zero, will shift to first place*/
    order: -1;
}

.flex-container-17 {
    display: flex;    
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-4 {
    flex-shrink: 4;
}

.flex-basis-10-em {
    flex-basis: 10em;
}

.flex-shorthand-flexibility {
    /* flex-grow flex-shrink flex-basis */
    flex: 0 0 auto;
}


