.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: dense; /* automatically calculate best placement*/
}

.item {
    border: 1px solid black;
}

.header {
    grid-column: 1 / 5;
}

.item-1 {
    background-color: aliceblue;
    height: 100px;
    grid-column: span 1; /* added to simulate image width of ratio 1*/
}

.item-2 {
    background-color: cornsilk;
    height: 100px;
    grid-column: span 2; /* added to simulate image width of ratio 2*/
}