.item {
    border: 1px solid black;
}

.media-item-header {
    grid-area: header;
}

.media-item-navigation {
    grid-area: navigation;
}

.media-item-content {
    grid-area: content;
}

.media-item-sidebar {
    grid-area: sidebar;
}

.media-item-footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    gap: 1em;
    grid: 4.4em 1fr 4.4em / 20% 1fr 20%;
    grid-template-areas:
        "header header header"
        "navigation content sidebar"
        "footer footer footer";
}

@media screen and (max-width: 590px) {
    .grid-container {
        grid: 4.4em 3.6em 1fr 4.4em / 1fr 30%;
        grid-template-areas:
            "header header"
            "navigation navigation"
            "content sidebar"
            "footer footer";
    }    
}

@media screen and (max-width: 450px) {
    .grid-container {
        grid: 4.4em 3.6em 1fr 3.6em 4.4em / 1fr;
        grid-template-areas:
            "header"
            "navigation"
            "content"
            "sidebar"
            "footer";
    }    
}