div {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.color-1 {
    background-color: rgb(245, 43, 17);
}

.color-2 {
    background-color: yellow;
}

.color-3 {
    background-color: rgba(0, 0, 255, 0.26);
}

.color-4 {
    background-color: rgb(158, 98, 108);
}

.color-5 {
    background-color: aquamarine;
}

.item-box {
    height: 50px;
    width: 50px;
}

.grid-container-1 {
    border: solid 4px #000;
    display: grid;
}

.grid-container-2 {
    border: solid 4px #000;
    display: inline-grid;
}

.grid-container-3 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 6em 6em 6em 6em;    
}

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-container-4 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 6em 6em 6em 6em;    
}

.grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-container-5 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 6em 6em 6em 6em;    
}

.grid-item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-container-6 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 6em 6em 6em 6em;
    grid-template-rows: 6em 6em;
}

.grid-item-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-container-7 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 6em 6em 6em 6em;
    grid-template-rows: 6em 6em;
}

.grid-container-8 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 6em 6em 6em 6em;
    grid-template-rows: 6em 6em;
    gap: 1em;
}

.grid-container-9 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 6em 6em 6em 6em;
    grid-template-rows: 6em 6em;
    row-gap: 1em;
    column-gap: 1.5em;
}

.grid-container-10 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 10em 6em 6em 6em;
    grid-template-rows: 6em 6em;        
}

.grid-container-11 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 10em 6em 6em 6em;
    grid-template-rows: 6em 6em;    
    grid-auto-flow: column;    
}

.grid-container-12 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 10em 6em 6em 6em;
    grid-template-rows: 6em 6em;           
}

.grid-item-02-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-container-13 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 10em 6em 6em 6em;
    grid-template-rows: 6em 6em;        
}

.grid-item-02-2 {
    order: 1;
}

.grid-container-14 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: 10em 6em 6em 6em;
    grid-template-rows: 6em 6em;           
}

.grid-item-02-3 {
    order: -1;
}

.grid-container-15 {
    border: solid 4px #000;
    display: inline-grid;
    grid: 6em 6em / 10em 6em 6em 6em; /* rows, then columns*/
}

.grid-container-16 {
    border: solid 4px #000;
    display: inline-grid;
    grid: 6em 6em / 10em 6em 6em 6em;
}

.grid-item-16-1 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.grid-container-17 {
    border: solid 4px #000;
    display: inline-grid;
    grid: 6em 6em / 10em 6em 6em 6em;
}

.grid-item-17-1 {
    /* grid-area: row-start / column-start / row-end / column-end;*/
    grid-area: 2 / 2 / 3 / 4;
}

.grid-container-18 {
    border: solid 4px #000;
    display: inline-grid;
    grid: 6em 6em / 10em 6em 6em 6em;
}

.grid-item-18-1 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

.grid-container-19 {
    border: solid 4px #000;
    display: inline-grid;
    grid-template-columns: repeat(3, 6em);
    grid-template-rows: repeat(2, 6em);
}

.grid-container-20 {
    border: solid 4px #000;
    height: 30em;
    display: inline-grid;
    grid: repeat(2, 10em) / repeat(4, 8.5em);
    align-content: center;    
}

.grid-container-21 {
    border: solid 4px #000;  
    display: inline-grid;
    grid: repeat(2, 10em) / repeat(4, 8.5em); 
    justify-items: center;
}

.grid-container-22 {
    border: solid 4px #000;  
    display: inline-grid;
    grid: repeat(2, 10em) / repeat(4, 8.5em); 
    justify-items: center;
}

.grid-item-22-6 {
    align-self: end;
}